/* PADDING/MARGINS RESET: */
  * { padding: 0; margin: 0; }
  body { font-family: sans-serif; }

/*  layout styles: */
main {
  height: 100%;
  width: 90%;
  margin: auto;
  padding: 25px;
}

.site-header {
  width: 100%;
  padding-bottom: 25px;
  font-size: 3rem;
}

section {
  display: flex;
  width: 100%;
}

/* legend styles: */
.legend {
  width: 200px;
  padding: 20px;
  background: pink;
}

.legend-header {
  width: 100%;
  padding-bottom: 20px;
}

/* movelist:  */
.legend-table {
  width: 175px;
  list-style: none;
}

.legend-table > li {
  display: flex;
  width: 100%;
  padding: 5px;

  font-size: 1rem;
  line-height: 1.5;
  background: white;
}

.legend-table > li:nth-child(even) {
  background: lightgrey;
}


.before, .after {
  display: inline-block;
  height: 40px;
  width: 125px;
}

.after {
  width: 25%;
  text-align: center;
}


/* action box styles: */
.action {
  padding: 20px;
  background: lightgrey;
  width: 80%;
}

/* input: */
.input {
  height: 150px;
  text-align: center;
}

.input > h1 {
  padding-bottom: 20px;
}

.input > input {
  width: 400px;
  font-size: 1.5rem;
}

.btn {
  margin-top: 15px;
  font-size: 1.5rem;
}

/* output: */
.output {
  text-align: center;
}

.combo-output {
  padding: 15px;
  width: 100%;
  text-align: center;
}

/* MOVELIST STYLES: ====================== */

.movelist {
  display: inline-block;
  height: 36px;
  width: 36px;
  margin: 0px 2.5px;
  background: url(tekken_icons_small.png);
  /*border: 1px solid black;*/
}

/* directionals: */
.neutral {
  background-position: 95px -58px;
}

.back {
  background-position:  432px -52px;
}

.d-b {
  background-position: -60px -56px;
}

.down {
  background-position: -102px -58px;
}

.d-f {
  background-position: -145px -58px;
}

.forward {
  background-position: -185px -55px;
}

.u-f {
  background-position: -226px -57px;
}

.up {
  background-position: -267px -58px;
}

.u-b {
  background-position: -309px -59px;
}

/* held: */

.hold-back {
  background-position: 432px -100px;
}

.hold-db {
  background-position: -55px -104px;
}

.hold-down {
  background-position: -102px -105px;
}

.hold-df {
  background-position: -145px -104px;
}

.hold-forward {
  background-position: -185px -106px;
}

.hold-uf {
  background-position: -226px -108px;
}

.hold-up {
  background-position: -267px -107px;
}

.hold-ub {
  background-position: -309px -108px;
}

/* attacks: */
.one {
  background-position: -18px -6px;
}

.two {
  background-position: -59px -6px;
}

.three {
  background-position: -101px -6px;
}

.four {
  background-position: -143px -6px;
}

/* multi-button: */

.one-two {
  background-position: -226px -6px;
}

.one-three {
  background-position: -184px -6px;
}

.one-four {
  background-position: -354px -6px;
}

.two-three {
  background-position: -310px -6px;
}

.two-four {
  background-position: -396px -6px;
}

.three-four {
  background-position: -269px -6px;
}

.one-two-three {
  background-position: -355px -108px;
}

.one-two-four {
  background-position: -399px -106px;
}
