/* background div, covers entire screen: */
#hc-background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
}

/* Main container element: */
#hc-test {
  position: fixed;
  top: 1.5%;
  right: 1%;
  width: 580px;
  z-index: 1001;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* lightbox header styles: */
#hc-header {
  width: 100%;
  height: 25px;
  display: flex;
  background: pink;
}

#hc-title {
  display: inline-block;
  width: 530px;
  height: 100%;
  background: #046e8f;
}

#hc-exit {
  display: inline-block;
  width: 50px;
  height: 100%;
  background: #A82B36;
}

#hc-exit-bttn {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  border: none;
  background: #99474E;
  color: #B21320;
}

/* lightbox top half: */
#hc-input-container {
  height: 40px;
  padding-top: 24px;
  padding-bottom: 10px;
  width: 100%;

  text-align: center;
  background-color: #183446;
}

#hc-input {
  display: inline-block;
  margin: auto;
  width: 400px;
  font-size: 1.2rem;
  color: white;

  border: none;
  border-bottom: 2px solid white;
  background: #183446;

}

#hc-btn {
  display: inline-block;
  padding: 5px;
  /* margin: 20px auto; */
  font-size: 1rem;
}

/* lightbox bottom half: */
#hc-output-container {
  height: 130px;
  width: 100%;
  background-color: #022f40;
  color: white;
}

#hc-output {
  padding: 5px;
  margin: auto;
  text-align: center;
  font-size: 1rem;
  /* background: pink; */
}

/* lightbox footer:  */

/* ===================================== */
/* MOVELIST:  ========================== */
/* ===================================== */

.movelist {
  display: inline-block;
  height: 36px;
  width: 36px;
  transform: translateY(10px);
  /* margin: 0px 2.5px; */
  background: url('chrome-extension://__MSG_@@extension_id__/src/images/tekken_icons_small.png');
  /*border: 1px solid black;*/
}

/* directionals: */
.neutral {
  background-position: 95px -58px;
}

.back {
  background-position:  432px -52px;
}

.d-b {
  background-position: -60px -56px;
}

.down {
  background-position: -102px -58px;
}

.d-f {
  background-position: -145px -58px;
}

.forward {
  background-position: -185px -55px;
}

.u-f {
  background-position: -226px -57px;
}

.up {
  background-position: -267px -58px;
}

.u-b {
  background-position: -309px -59px;
}

/* held: */

.hold-back {
  background-position: 432px -100px;
}

.hold-db {
  background-position: -55px -104px;
}

.hold-down {
  background-position: -102px -105px;
}

.hold-df {
  background-position: -145px -104px;
}

.hold-forward {
  background-position: -185px -106px;
}

.hold-uf {
  background-position: -226px -108px;
}

.hold-up {
  background-position: -267px -107px;
}

.hold-ub {
  background-position: -309px -108px;
}

/* attacks: */
.one {
  background-position: -18px -6px;
}

.two {
  background-position: -59px -6px;
}

.three {
  background-position: -101px -6px;
}

.four {
  background-position: -143px -6px;
}

/* multi-button: */

.one-two {
  background-position: -226px -6px;
}

.one-three {
  background-position: -184px -6px;
}

.one-four {
  background-position: -354px -6px;
}

.two-three {
  background-position: -310px -6px;
}

.two-four {
  background-position: -396px -6px;
}

.three-four {
  background-position: -269px -6px;
}

.one-two-three {
  background-position: -355px -108px;
}

.one-two-four {
  background-position: -399px -106px;
}
