#hc-background {
  background: rgba(200, 200, 200, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
}

#hc-test {
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: -290px;
  top: 50%;
  margin-top: -165px;
  width: 580px;
  height: 335px;
  background: white;
  z-index: 1001;
}

#hc-header {
  width: 100%;
  height: 10%;
  display: flex;
  background: pink;
}

#hc-input-container {
  height: 130px;
  padding-top: 20px;
  width: 100%;
  background-color: lightgrey;
}

#hc-input {
  display: block;
  margin: auto;
  width: 80%;
  font-size: 1rem;
}

#hc-btn {
  padding: 5px;
  display: block;
  margin: 20px auto;
  font-size: 1rem;
}

#hc-output-container {
  padding: 10px;
  height: 130px;
  width: 100%;
  background-color: darkgrey;
}

#hc-output {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 1rem;
  background: lightgrey;
}
